# Project cache folders
*_cache/
*_models/
*_vocab/

# Sessions folders for certain scripts
sessions

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env

# Node
node_modules
package-lock.json

# Emacs ~ files
*~