# Common dependencies
python-dotenv>=1.0.0
python-dateutil==2.9.0.post0

# LangChain framework
langchain==1.2.7
langchain-community==0.4.1
langchain-anthropic==1.3.4
langchain-openai==1.1.11
langchain-google-genai==4.2.1
langchain-xai==1.2.2
langchain-deepseek==1.0.1

# Ranking function for relevance of documents to a given search query
rank-bm25==0.2.2

# Web 
fastapi==0.115.6
uvicorn==0.34.0

# MCP
langchain-mcp-adapters==0.2.1

# Graph output used by LangGraph
grandalf==0.8

# Dataclass for context
dataclasses==0.6
